//META{"name":"ToG","description":"Tower of God Theme","author":"Ventus","version":"2.2"}*//

/* Shinsoo Blue = #014090, rgba(1, 64, 144, 1)*/

@import url(https://fonts.googleapis.com/css?family=Signika);

/* Basic Appearence */
body {
    color:#e0e0e0;
    font-family: 'Signika', serif;
}
.app {
    background-image:url("https://i.imgur.com/W0YQ9ir.jpg");
    background-size:100% 100%;
}

.guilds-wrapper, .channels-wrap, .title-wrap, .content {
    background:rgba(50,50,50,0.4) !important;
}

.guild-channels, .chat, .help-container, .help-container:after, .account, .links, [data-reactid=".0.1.1.0.1.0.0"], .channel-members {
    background: transparent!important;
}

.guild-header header {
    background-color:transparent;
}

.guild-header ul{
    transition: opacity .25s ease-out;
    opacity:0;
}

.guild-header-open ul{
    opacity:1;
}

/* Guilds */
.active .guild-inner:before, .unread .guild-inner:before, .guilds .unread:before, .guilds .selected:before {
    background:#014090!important;
}

/* Guild Channels */
.channel.channel-text .channel-name, .guild-channels ul .channel a {
    color:#014090!important;
    opacity:1;
}

.guild-channels .unread:before {
    background:#014090!important;
}

.channel.selected {
    background:transparent!important;
}

.channel.selected:before {
    border-left:4px solid #014090!important;
}

.channel:hover {
    background:transparent!important;
}

.channel:hover:before {
    border-left:4px solid #014090!important;
}

/* Tooltips */
.tooltip {
    background:#014090!important;
    color:#e0e0e0!important;
}

.tooltip.tooltip-right:after {
    border-right-color:#014090!important;
}

.tooltip.tooltip-top:after {
    border-top-color:#014090!important;
}

.tooltip.tooltip-bottom:after {
    border-bottom-color:#014090!important;
}

/* Chat */
.divider span {
    background:transparent!important;
}

.typing {
    background:transparent!important;
}

.chat .new-messages-bar{
  background-color:rgba(30,30,30,0.9)!important;
}
.chat .new-messages-bar:hover{
  background-color:rgba(30,30,30,0.9)!important;
}
.new-messages-bar button{
color:#e0e0e0!important;
}

.avatar-large {
  border-radius:5px;
  border:2px solid #014090;
  height:50px;
  width:50px;
  background-size:100%;
}

/* Members */
.channel-members h2 span {
    color:#014090;
    text-shadow:1px 1px 1px #111;
    font-size: 15px !important;
}

.member-game {
    color:#e0e0e0!important;
}

.channel-members .member:hover {
    background:rgba(1,64,144,0.4)!important;
}

/*Voice Connection*/
#voice-connection {
    background:transparent;
}

/* Scrollbar */
.chat>.content :first-child .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color:black!important;
    border-color:#014090!important;
}

.chat>.content :first-child .scroller-wrap ::-webkit-scrollbar-track-piece {
    background:black!important;
    border-color:#014090!important;
}

/* Twitchcord Button
#twitchcord-button {
background-image: url(https://i.imgur.com/UsfTI19.png)!important;
    background-color:transparent;
}

#twitchcord-button.twitchcord-button-open {
background-image:url(https://i.imgur.com/UsfTI19.png)!important;
    background-color:transparent;
} */

/* Friends and Private Channels */
.messages-wrapper, .friends-header, .friends-table-body, .friends-table, .private-channels {
    background:transparent!important;
}

#friends {
    background:rgba(50,50,50,0.4)!important;
}

.friends-row:hover {
    background:rgba(0,0,0,0.25)!important;
}

/* Settings Menu */
.settings .settings-inner, .settings-actions, .modal-inner{
    background-color:rgba(25, 25, 25, 0.82)!important;
    border:none!important;
}

.tab-bar.SIDE {
    margin-right:0px!important;
    overflow:hidden!important;
    border-color:black!important;
    box-shadow: 0 1px 0 rgba(0,0,0,.08),inset -1px 0 0 rgba(0,0,0,.1);
    border-top-let-radius:5%;
    border-bottom-left-radius:5%;
}

.tab-bar.SIDE .tab-bar-item:before {
  border-color:#014090;
}

.tab-bar-header {
    box-shadow: 0 1px 0 rgba(0,0,0,.08),inset 0 -1px 0 rgba(0,0,0,.1)!important;
}

.settings.user-settings-modal .settings-header, .settings.user-settings-modal .settings-right {
  background-color:transparent;
}

.settings-right>.settings-inner .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color:black!important;
    border-color:rgba(0, 0, 0, 0.4)!important;
}

.settings-right>.settings-inner .scroller-wrap ::-webkit-scrollbar-track-piece {
    background:black!important;
    border-color:#2a2a2a!important;
}

.modal-inner {
  border-top-left-radius:5%;
  border-bottom-left-radius:5%;
}

.user-settings-modal-games {
  background:rgb(25, 25, 25);
  border-color:#014090;
}

.now-playing, .now-playing.no-detection {
  background:rgb(30, 30, 30);
}

.user-settings-streamer-mode {
  background:rgb(25, 25, 25);
}

.scroller .connection .connection-integrations{
  border:none!important;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span {
  background-color:#014090;
  border-color:#014090;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span:after {
  border-color:#e6e6e6;
}

.radio .radio-inner {
  background:rgb(20, 20, 20);
}

.radio .radio-inner span:after {
  background:#014090;
}

.form .control-group input[type=email], .form .control-group input[type=number], .form .control-group input[type=password], .form .control-group input[type=text], .form .control-group textarea {
  border-radius:6px;
  background-color:rgb(20, 20, 20);
  border-color:#014090;
  color:#e6e6e6;
}

.avatar-uploader .avatar-uploader-inner {
  background-color:rgb(30, 30, 30);
  border-color:#014090;
}

.tab-bar.TOP {
  border-color:#e6e6e6;
}

.tab-bar.TOP .tab-bar-item {
  color:#e6e6e6;
}

.tab-bar.TOP .tab-bar-item.selected {
  color:#014090;
  border-color:#014090;
}

.user-settings-modal-connections .user-settings-modal-accounts-list .connect-container .btn {
  background-color:rgb(30, 30, 30);
  border-color:#014090;
}

.user-settings-modal-connections .user-settings-modal-connections-list {
  box-shadow:0 -1px #014090;
}

.user-settings-modal-connections .user-settings-modal-accounts-list .connect-container .name {
  color:#e6e6e6;
}

.user-settings-modal-connections .user-settings-modal-connections-list .connection .connection-integrations .integration {
  background-color:rgb(35, 35, 35);
  border-color:#014090;
}

.user-settings-modal-connections .user-settings-modal-connections-list .connection .connection-integrations .integration .btn.btn-joined {
  border-color:#014090;
}

/*BD Menus*/
#bd-customcss-attach-controls, #bd-customcss-detach-controls {
  background:rgb(25, 25, 25);
  -webkit-box-shadow: inset 0 1px 0 0 rgb(25, 25, 25);
}

#bd-customcss-attach-controls {
  border:1px solid rgb(25, 25, 25);
  border-top-color:#014090;
}

.CodeMirror {
    font-family: monospace;
    height: 300px;
    color: #e6e6e6;
    background-color:#1e1e1e !important;
}
.CodeMirror-linenumber {
    color: #656565;
}
.CodeMirror-gutters {
    background: #1e1e1e;
    box-shadow: inset 0 1px 0 0 #1e1e1e;
    border-right: 1px solid #014090!important;
    border-left: 1px solid #014090!important;
    background-color: #1e1e1e;
}
.CodeMirror-scroll {
    border-top: 1px solid #014090!important;
}
.bda-slist li:nth-child(odd) {
    background: rgb(30, 30, 30);
    border-top: 1px solid #656565;
}
.bda-slist li {
    background: rgb(25, 25, 25);
    border-bottom: 1px solid #656565;
}
.bda-slist .bda-description {
    color: #e6e6e6;
    border-top: 1px solid #014090;
}
.bda-slist .bda-name {
    color: #014090;
}
.bda-slist .checkbox:before {
    content: "Enable";
    color: #e6e6e6;
}

/* User Profile */
.user-popout .header {
  background:rgba(1, 64, 144, 0.7);
}

.user-popout .body, .user-popout .footer {
  background:rgba(30, 30, 30, 0.7);
}

.user-popout .footer .quick-message-wrapper .input {
  background:rgba(0, 0, 0, 0.8);
  color:#014090;
}

.user-popout .footer, .user-popout .quick-message-wrapper .input {
  border-color:#014090!important;
}

.user-popout .user-popout-options .btn {
  background-color:#014090;
  boder:1px solid black;
}

.user-popout .user-popout-options .btn:hover {
  background-color:rgb(1, 64, 144);
}

.user-popout .body .label, .user-popout .footer .update-notice .protip .label {
  color:#014090;
}

.user-popout .footer .update-notice {
    color: #e3e3e3 !important;
}

.user-popout .avatar-wrapper .avatar-popout {
    background-color: transparent;
    border: 4px solid #656565 !important;
}

.user-popout .avatar-wrapper .avatar-hint {
    border-radius: 10% !important;
}


.channel-members .member.popout-open {
    background: linear-gradient(90deg,rgba(1, 64, 144, 0.4) 85%,rgba(0, 0, 0 , 0))!important;
}

.context-menu {
    background:rgba(30, 30, 30, 0.82);
    box-shadow: 0 0 1px #656565,0 1px 4px #014090;
}

.context-menu .item:hover {
    background: rgb(30, 30, 30);
    color: hsl(214, 99%, 56%);
}
.context-menu .item {
    color: #014090;
}

.context-menu .item.danger {
    color: #014090!important;
}

.context-menu .item.danger:hover {
    color: hsl(214, 99%, 56%)!important;
    background-color: rgb(30, 30, 30)!important;
}

.context-menu .item.disabled {
    color: #656565;
    background-color: rgba(0, 0, 0, 0);
}

.context-menu .item.disabled:hover {
    color: #fff;
    background-color: rgb(30, 30, 30)!important;
}

.theme-dark.context-menu {
    background:rgba(30, 30, 30, 0.82);
    box-shadow: 0 0 1px #656565,0 1px 4px #014090;
}

.theme-dark.context-menu .item:hover {
    background: rgb(30, 30, 30);
    color: hsl(214, 99%, 56%);
}
.theme-dark.context-menu .item {
    color: #014090;
}

.theme-dark.context-menu .item.danger {
    color: #014090!important;
}

.theme-dark.context-menu .item.danger:hover {
    color: hsl(214, 99%, 56%)!important;
    background-color: rgb(30, 30, 30)!important;
}

.theme-dark.context-menu .item.disabled {
    color: #656565;
    background-color: rgba(0, 0, 0, 0);
}

.theme-dark.context-menu .item.disabled:hover {
    color: #fff;
    background-color: rgb(30, 30, 30)!important;
}

/* Upload Modal */
.upload-modal {
  background-color:rgb(30, 30, 30);
}

.upload-modal .inner {
  border-color:#014090;
  color:#e6e6e6;
}

.upload-modal .inner .file {
  color:#e6e6e6;
}

.upload-modal .inner .comment .channel-textarea .channel-textarea-inner {
  border-color:#014090;
  background-color:rgb(35, 35, 35);
}

.upload-modal .inner .comment .channel-textarea .channel-textarea-inner textarea {
  color:#e6e6e6;
}

.upload-modal .footer {
  background-color:rgb(20, 20, 20);
}

.upload-drop-modal .bgScale {
  background:rgb(30, 30, 30);
}

.upload-drop-modal .inner {
  border-color:#014090;
  color:#e6e6e6;
}

.upload-drop-modal .inner .instructions {
  color:#e6e6e6;
}

/* Buttons */
.upload-modal .footer .button {
  background-color:transparent;
  color:#e6e6e6;
}

.upload-modal .footer .button.button-primary {
  color:#e6e6e6;
  background-color:#014090;
}

.btn {
  background-color:transparent!important;
  color:#e6e6e6!important;
}

.btn.btn-primary {
  color:#e6e6e6!important;
  background-color:#014090!important;
}

/* Credit */
.links:after {
    content: "Ventus";
    color: #5a5a5a;
    margin-left: 6px;
    font-weight: bold;
}

.member-username-inner[data-reactid*="102180837625200640"]:after {
    content: "Ventus";
    color: #E81C4F;
    margin-left: 0px;
    font-weight: 900;
    font-size: 120%;
}
